/* Reset some basic elements for better cross-browser compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div, section, article, aside, header, main, nav {
    border-radius: 10px; /* Adjust the value as needed */
}
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Dark theme styles */
body.dark-theme {
    background-color: #31363F;
    color: #a81ca1;
}

.container.dark-theme {
    background-color: #31363F;
}

header.dark-theme, main.dark-theme, section.dark-theme {
    background-color: #31363F;
    color: white;
}

a.dark-theme {
    color: #bb86fc;
}

a.dark-theme:hover {
    color: #3700b3;
}
header {
    background-color: #a81ca1;
    color: white;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
/* Navigation styles */
nav ul {
    border-radius:10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
nav ul li {
    border-radius:10px;
    margin: 0 10px;
}
nav ul li a {
    border-radius:10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-left: 4px solid #a81ca1;
    transition: background 0.3s;
}
ul li:hover {
    background: #e9e9e9;
}
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}
a:hover {
    text-decoration: underline;
    color: #0056b3;
}
button {
    background-color: #a81ca1;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #a81ca1;
}
/* PDF iframe styles */
iframe {
    border: none;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}



